<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render("api/users/current_user.json.jbuilder", user: current_user).html_safe %>
    <% end %>
</script>

<script>
  window.sakura = "<%= asset_path('sakura.png')%>"
  window.logo = "<%= asset_path('shiba-gram.svg')%>"
  window.main = "<%= asset_path('front-image.jpeg')%>"
  window.comment = "<%= asset_path('comment-icon.png')%>"
  window.cog = "<%= asset_path('cog.png')%>"
  window.long_logo = "<%= asset_path('long-logo.png')%>"
  window.butt = "<%= asset_path('dog-butt.png')%>"
  window.user_icon = "<%= asset_path('user-icon.png')%>"
  window.portfolio = "<%= asset_path('portfolio.png')%>"
  window.linkedin = "<%= asset_path('linkedin.png')%>"
  window.email = "<%= asset_path('email.png')%>"
  window.github = "<%= asset_path('github.png')%>"
</script>

<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet'>
<link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

<main id="root">
</main>
